.gradle
/build
/.idea
/*.iml
.DS_Store
/local.properties
.konan
/composeApp/build
/composeApp/cache
/composeApp/kcef-bundle
/iosApp/DerivedData
/iosApp/iosApp.xcworkspace/xcuserdata
/iosApp/iosApp.xcodeproj/project.xcworkspace/xcuserdata
/iosApp/iosApp.xcodeproj/xcuserdata
/iosApp/Pods
/iosApp/build
.swiftpm
.idea/gradle.xml
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
*.preferences_pb
